
// =============================================================================
// compass (required)
// =============================================================================

@import compass
$experimental-support-for-svg: true


// =============================================================================
// defaults
// =============================================================================

*, *:before, *:after
  +box-sizing(border-box)

body
  -webkit-text-size-adjust: 100%
  word-wrap: break-word

img
  vertical-align: bottom

// for clickable SVG
object
  pointer-events: none


// =============================================================================
// variables
// =============================================================================

// Google Web Fonts
$GWF-S-AMETHYSTA: 'Amethysta'
$GWF-S-CINZEL: 'Cinzel'
$GWF-S-CRIMSON-TEXT: 'Crimson Text'
$GWF-S-DROID-SERIF: 'Droid Serif'
$GWF-S-PATUA-ONE: 'Patua One'
$GWF-S-PT-SERIF: 'PT Serif'
$GWF-S-SORTS-MILL-GOUDY: 'Sorts Mill Goudy'
$GWF-S-VOLLKORN: 'Vollkorn'
$GWF-SS-ABEL: 'Abel'
$GWF-SS-FUGAZ-ONE: 'Fugaz One'
$GWF-SS-OPEN-SANS: 'Open Sans'
$GWF-SS-RALEWAY: 'Raleway'
$GWF-SS-ROPA-SANS: 'Ropa Sans'
$GWF-SS-SQUADA-ONE: 'Squada One'
$GWF-SS-WIRE-ONE: 'Wire One'

// Font Family
$FF-SS-HELVETICA: 'Helvetica Neue', Helvetica, Arial
$FF-SS-PALATINO: Palatino, 'Palatino Linotype', 'Book Antiqua'
$FF-SS-LUCIDA: 'Lucida Sans Unicode', 'Lucida Grande', Verdana
$FF-S-TIMES: 'Times New Roman', Times
$FF-G-MEIRYO: 'メイリオ', Meiryo
$FF-G-HIRAGO3: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro W3', 'Hiragino Kaku Gothic ProN'
$FF-M-HIRAMIN3: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro W3', 'Hiragino Mincho ProN'
$FF-G-MSPGO: 'MS PGothic'
$FF-M-MSMIN: 'ＭＳ 明朝'

$BASE-FF-SANS: $FF-SS-HELVETICA
$BASE-FF-SERIF: Georgia, $FF-S-TIMES
$BASE-FF-MONO: Menlo, Consolas, 'Courier New', Monaco
$BASE-FF-GITHUB: Consolas, "Liberation Mono", Courier

// for English
$FF-SANS: $BASE-FF-SANS, sans-serif
$FF-SERIF: $BASE-FF-SERIF, serif
$FF-MONO: $BASE-FF-MONO, monospace
$FF-LUCIDA: $FF-SS-LUCIDA, $FF-SANS
$FF-PALATINO: $FF-SS-PALATINO, $FF-SERIF
$FF-GITHUB: $BASE-FF-GITHUB, monospace

=x-ff-sans
  font-family: $FF-SANS

=x-ff-serif
  font-family: $FF-SERIF

=x-ff-mono
  font-family: $FF-MONO

=x-ff-lucida
  font-family: $FF-LUCIDA

=x-ff-palatino
  font-family: $FF-PALATINO

=x-ff-github
  font-family: $FF-PALATINO

// for Japanese
$FF-GOTHIC: $BASE-FF-SANS, $FF-G-MEIRYO, $FF-G-HIRAGO3, $FF-G-MSPGO, sans-serif
$FF-MINCHO: $GWF-S-PT-SERIF, $BASE-FF-SERIF, $FF-M-HIRAMIN3, $FF-M-MSMIN, serif
$FF-MONOGO: $BASE-FF-MONO, $FF-G-MEIRYO, $FF-G-HIRAGO3, $FF-G-MSPGO, monospace
$FF-LUCIGO: $FF-SS-LUCIDA, $FF-GOTHIC
$FF-PALAMIN: $FF-SS-PALATINO, $FF-MINCHO
$FF-GITGO: $BASE-FF-GITHUB, $FF-G-MEIRYO, $FF-G-HIRAGO3, $FF-G-MSPGO, monospace

=x-ff-gothic
  font-family: $FF-GOTHIC

=x-ff-mincho
  font-family: $FF-MINCHO

=x-ff-monogo
  font-family: $FF-MONOGO

=x-ff-lucigo
  font-family: $FF-LUCIGO

=x-ff-palamin
  font-family: $FF-PALAMIN

=x-ff-gitgo
  font-family: $FF-GITGO


// =============================================================================
// media queries
// =============================================================================

$_target: "only screen and"
$MQ-PORTRAIT-PHONES:   "#{$_target} (max-width: 320px)"
$MQ-LANDSCAPE-PHONES:  "#{$_target} (min-width: 321px) and (max-width: 767px)"
$MQ-PORTRAIT-TABLETS:  "#{$_target} (min-width: 768px) and (max-width: 979px)"
$MQ-LANDSCAPE-TABLETS: "#{$_target} (min-width: 980px) and (max-width: 1199px)"
$MQ-LARGE-DISPLAY:     "#{$_target} (min-width: 1200px) and (max-width: 1599px)"
$MQ-X-LARGE-DISPLAY:   "#{$_target} (min-width: 1600px)"

// excludes iPhone and iPad
// $MQ-PHONES-TO-TABLETS: "#{$_target} (min-width: 481px) and (max-width: 767px)"
// $MQ-LANDSCAPE-PHONES:  "#{$_target} (min-width: 321px) and (max-width: 480px)"

=x-media-queries($media: phone, $orientation: both)
  @if $media == phone
    @if $orientation == both
      @media #{$MQ-PORTRAIT-PHONES}
        @content
      @media #{$MQ-LANDSCAPE-PHONES}
        @content
    @else if $orientation == portrait
      @media #{$MQ-PORTRAIT-PHONES}
        @content
    @else if $orientation == landscape
      @media #{$MQ-LANDSCAPE-PHONES}
        @content
  @else if $media == tablet
    @if $orientation == both
      @media #{$MQ-PORTRAIT-TABLETS}
        @content
      @media #{$MQ-LANDSCAPE-TABLETS}
        @content
    @else if $orientation == portrait
      @media #{$MQ-PORTRAIT-TABLETS}
        @content
    @else if $orientation == landscape
      @media #{$MQ-LANDSCAPE-TABLETS}
        @content
  @else if $media == large
    @media #{$MQ-LARGE-DISPLAY}
      @content
  @else if $media == x-large
    @media #{$MQ-X-LARGE-DISPLAY}
      @content

// shorthand for media-queries
=x-mq($attr, $value0: null, $value1: null, $value2: null, $value3: null, $value4: null, $value5: null, $value6: null)
  #{$attr}: $value0
  +x-media-queries(phone, portrait)
    #{$attr}: $value1
  +x-media-queries(phone, landscape)
    #{$attr}: $value2
  +x-media-queries(tablet, portrait)
    #{$attr}: $value3
  +x-media-queries(tablet, landscape)
    #{$attr}: $value4
  +x-media-queries(large)
    #{$attr}: $value5
  +x-media-queries(x-large)
    #{$attr}: $value6


// =============================================================================
// rem
// =============================================================================

$X-REM-BASELINE: 10px / 1rem

@function x-rem($px-value)
  @return $px-value / $X-REM-BASELINE

=x-rem($property, $px-values)
  $_px: ()
  $_rem: ()
  @each $value in $px-values
    $_px: append($_px, $value)
    @if $value == auto or $value == 0
      $_rem: append($_rem, $value)
    @else
      $_rem: append($_rem, $value / $X-REM-BASELINE)
  #{$property}: $_px
  #{$property}: $_rem

// shorthand for font-size and line-height
=x-fs($px, $line-height: null)
  +x-rem('font-size', $px)
  line-height: $line-height

=x-establish-rem
  html
    font-size: 62.5%
    line-height: 1.0


// =============================================================================
// mixins
// =============================================================================

=x-mp0
  margin: 0
  padding: 0


=x-link-underline($color1, $color2: null, $opacity1: 0.5, $opacity2: 1.0)
  @if $color2 == null
    $color2: $color1
  border-bottom: 1px solid rgba($color1, $opacity1)
  text-decoration: none
  &:hover
    border-bottom: 1px solid rgba($color2, $opacity2)
    text-decoration: none


=x-triangle($triangle-size, $triangle-color, $triangle-direction)
  content: ''
  display: block
  width: 0
  height: 0
  border: solid $triangle-size
  @if $triangle-direction == top
    border-color: $triangle-color transparent transparent transparent
  @if $triangle-direction == bottom
    border-color: transparent transparent $triangle-color transparent
  @if $triangle-direction == left
    border-color: transparent transparent transparent $triangle-color
  @if $triangle-direction == right
    border-color: transparent $triangle-color transparent transparent


=x-gradient-hr($c: #000)
  +background-image(linear-gradient(left, rgba($c, 0), rgba($c, 0.1), rgba($c, 0)))
  display: block
  height: 1px
  border: 0
  margin: 1em 0
  padding: 0


// =============================================================================
// keyframes
// =============================================================================

+keyframes(infinite-turn)
  0%
    +transform-origin(center, center)
    +transform(rotate(0deg))
  100%
    +transform-origin(center, center)
    +transform(rotate(1turn))

=x-animation-icon-spinner($speed: 1.0s)
  +animation(infinite-turn $speed infinite steps(8, start))


+keyframes(sparkle-x)
  0%
    +transform-origin(center, center)
    +transform(rotateX(0deg))
  100%
    +transform-origin(center, center)
    +transform(rotateX(1turn))


+keyframes(sparkle-y)
  0%
    +transform-origin(center, center)
    +transform(rotateY(0deg))
  100%
    +transform-origin(center, center)
    +transform(rotateY(1turn))

=x-animation-sparkle-y($duration: 0.4s, $delay: 0)
  +animation(sparkle-y $duration ease $delay)


+keyframes(tap-effect-1)
  0%
    +transform(scale(0.3, 0.3))
  40%
    +transform(scale(1.2, 1.2))
  60%
    +transform(scale(1, 1))
  80%
    +transform(scale(1.1, 1.1))
  100%
    +transform(scale(1, 1))


+keyframes(ruedap-logo)
  0%
    +transform-origin(center, center)
    +transform(rotate(0deg))
  100%
    +transform-origin(center, center)
    +transform(rotate(2turn))


+keyframes(light-speed-in)
  0%
    +transform(translateX(120%) skewX(-30deg))
    +opacity(0)
  60%
    +transform(translateX(-20%) skewX(30deg))
    +opacity(1)
  80%
    +transform(translateX(0%) skewX(-15deg))
    +opacity(1)
  100%
    +transform(translateX(0%) skewX(0deg))
    +opacity(1)

=x-animation-light-speed-in
  +animation(light-speed-in 1s ease-in-out 0s both)


+keyframes(hinge)
  0%
    +transform-origin(top, left)
    +transform(rotate(0))
    +opacity(1)
  20%, 60%
    +transform-origin(top, left)
    +transform(rotate(80deg))
    +opacity(1)
  40%
    +transform-origin(top, left)
    +transform(rotate(60deg))
    +opacity(1)
  80%
    +transform-origin(top, left)
    +transform(rotate(60deg) translateY(0))
    +opacity(1)
  100%
    +transform-origin(top, left)
    +transform(translateY(700px))
    +opacity(0)

=x-animation-hinge
  +animation(hinge 2s ease-in-out 0s both)


+keyframes(wiggle)
  0%
    +skewX(9deg)
  10%
    +skewX(-8deg)
  20%
    +skewX(7deg)
  30%
    +skewX(-6deg)
  40%
    +skewX(5deg)
  50%
    +skewX(-4deg)
  60%
    +skewX(3deg)
  70%
    +skewX(-2deg)
  80%
    +skewX(1deg)
  90%
    +skewX(0deg)
  100%
    +skewX(0deg)

=x-animation-wiggle
  +animation(wiggle 2s ease-in 0s both)


// =============================================================================
// transitions
// =============================================================================

=x-transition-rotate-scaleup-hover
  +transition(all 0.4s ease)
  &:hover
    +transform(rotate(1turn) scale(1.2))


=x-transition-scaleup-fadeout-hover
  +opacity(1)
  +transition(all 0.4s ease)
  &:hover
    +opacity(0)
    +transform(scale(1.4))

